body {
  background-color: #f3f3f3;


}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
  
}

.App header {
  background-color: #181717;
  height: 30px;
  min-height: 30px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}
.App footer {
  background-color: #181717;
  min-height: 30px;
  
  max-height: 40px;
  
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  bottom: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  z-index: 99;
  box-sizing: border-box;
}


.App footer button {
  height: 5vh;
  min-height: 30px;
  padding-bottom: 10px;

}

.App section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App .maincontainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;


}
/* 
main {
  padding: 10px;
  height: 10vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
} */

/* main p {
  color: white;
  text-align: center;
} */

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}


button {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

.sign-out {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}



ul, li {
  text-align: left;
  list-style: none;
}

/* p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
} */

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}




@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");


.cardTop{
  
  width:497px;
  height:284px;
  background: #2C2217;
  border-radius: 20px;
  display:flex;
  overflow:hidden;
  align-items:flex-end;
  position: relative;


  
  
}

.cardTop .scheduletitle{
  /* z-index: 99; */
  width: 60px;
  height: 40px;
  /* text-overflow: clip; */
  position:absolute;
  top: 35px;
  right: 10px;
  color:#B69872;
  font-size: 13px;
  line-height: 30px;

  
  /* background: #ffffff; */
  /* border-radius: 20px; */
  /* overflow:hidden; */

  
  
}

/* schedule view */
.scheduleblur{
  
  width: 476px;
  height:100vh;
  background: #ffffff24;
  mix-blend-mode: normal;
  backdrop-filter: blur(15px);
  overflow:auto;
  position:absolute;
  top:100px;
  margin-left:10px;
  margin-right:10px;
  box-shadow: 0px 20px 53px -30px rgba(95, 102, 173, 0.566816);
  border-radius: 10px;
  color:white;
  
}

.timelineblur{
  
  width:355px;
  /* height:100vh; */
  height:100vh;
  background: #ffffff24;
  mix-blend-mode: normal;
  backdrop-filter: blur(15px);
  overflow:auto;
  position:absolute;
  top:100px;
  margin-left:61px;
  margin-right:71px;
  box-shadow: 0px 20px 53px -30px rgba(95, 102, 173, 0.566816);
  border-radius: 10px;
  
}

.timelineblur h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  margin-left:10px;
  margin-top:40px;



}
.timelineblur  label {

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    margin-left:66px;
    margin-top:10px;

    color: #FFFFFF;

  }
  
.timelineblur  .box{
    width:100%;
    height:509px;
    background:#fbfcfd;
    margin-top:99.5px;
}
    
    
.timelineblur .box .container {
      
      width:100%;
      height:357px;
      display:flex;
}
/* timeline responsive card styles */



.timeline {
  position: relative;
  padding-left: 4rem;
  margin: 0 10px 0 30px;
  color: white;
}
.timeline:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 3.5px;
  height: 100%;
  background: #2C2217;
}
.timeline .timeline-container {
  position: relative;
  margin-bottom: 2.5rem;
  height: 100%;

}

.timeline .timeline-container .date-info-container {
  position: absolute;
  top:-25px;
  left: -25px;
  width: 40px;
  height: 40px;
  text-align: center;
  /* font-size: 2rem; */
  /* color:#0b93f6; */
  /* background: #181717; */
}
.timeline .date-info-text {
  position: sticky;
  position: -webkit-sticky;
  top:25px;
  left: -25px;
  width: 280px;
  height: 30px;
  /* bottom: 10px; */
  text-align: start;
  font-size: 16px;
  font-weight: 500;
  color:#2c2217d5;
  /* margin: 0 10px 0 30px; */
  z-index: 99;
  
  /* background: #181717; */
  box-shadow: 0px 20px 53px -30px rgba(95, 102, 173, 0.966816);

}

.timeline .timeline-container .propic {
  position: absolute;
  right: 40px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
}
.timeline .timeline-container .propic img {
  position: absolute;
  right: -35px;
  top: 5px;

  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
}
.timeline .timeline-container .timeline-icon {
  position: absolute;
  left: -82px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  background: #4f537b;
}
.timeline .timeline-container .timeline-icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.timeline .timeline-container .timeline-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.timeline .timeline-container .timeline-body {
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.1);
}
.timeline .timeline-container .timeline-body p {
  color: #000000;
  font-size: 11px;

}
/* arrow card pointer */
.timeline .timeline-container .timeline-body:before {
  content: "";
  background: inherit;
  top: 10px;
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  left: -2px;
  transform: rotate(45deg);
  border-radius: 0 0 0 2px;
}
.timeline .timeline-container .timeline-body .timeline-title {
  margin-bottom: 5px;
}
.timeline .timeline-container .timeline-body .timeline-title .badge {
  background: #4f537b;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}
.timeline .timeline-container .timeline-body .timeline-footer {
  /* position: relative; */
  display: flex;
  /* flex-direction: row-reverse; */
  /* align-items: center; */
  /* text-align: right; */
  /* width: 30px; */
  align-items: flex-end;
  justify-content: center;
}
.timeline .timeline-container .timeline-body .timeline-subtitle {
  font-weight: 500;
  font-style: italic;
  opacity: 0.4;
  font-size: 11px;
  /* background: black; */
  color: #000000;
  /* text-align: center; */
}


.timeline .timeline-container .timeline-body .timeline-subtitle-sub {
  font-weight: 500;
  font-style: italic;
  opacity: 0.4;
  font-size: 11px;
  /* float:right; */
  background: black;
  /* text-align: right; */
  


}
.timeline .timeline-container.evnap .badge,
.timeline .timeline-container.evnap .timeline-icon {
  background: #70587c !important;
  border: 3px solid #FFF;
  border-radius: 18px;
  /* background: linear-gradient( -45deg, blue, blue 49%, white 49%, white 51%, red 51% );  */
}
.timeline .timeline-container.evfood .badge,
.timeline .timeline-container.evfood .timeline-icon {
  background: #3a7d44 !important;
  border: 3px solid #FFF;
  border-radius: 18px;
}
.timeline .timeline-container.evwater .badge,
.timeline .timeline-container.evwater .timeline-icon {
  background: #62bbc1 !important;
  border: 3px solid #FFF;
  border-radius: 18px;
}
.timeline .timeline-container.evaccident .badge,
.timeline .timeline-container.evaccident .timeline-icon {
  background: #e40066 !important;
  border: 3px solid #FFF;
  border-radius: 18px;
}
.timeline .timeline-container.evpoop .badge,
.timeline .timeline-container.evpoop .timeline-icon {
  background: #2C2217 !important;
  border: 3px solid #FFF;
  border-radius: 18px;
}
.timeline .timeline-container.evpee .badge,
.timeline .timeline-container.evpee .timeline-icon {
  background: #B69873  !important;
  border: 3px solid #FFF;
  border-radius: 18px;
}


/* disable backdrop on bootstrap model */
.modal-backdrop {
  background-color: transparent;
}

/* Footer buttons */
.button4 {
  display:inline-block;
  border:5px solid rgba(255,255,255,0);
  /* max-height: 40px; */
  border-radius:15px;
  /* box-sizing: border-box; */
  text-decoration:none;
  /* font-family:'Roboto',sans-serif; */
  font-weight:300;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  justify-content: center;
  transition: all 0.2s;
}
.button4:hover {
  transition: all 150ms linear;
  opacity: .85;
}

.button4:active {
  transition: all 150ms linear;
  /* the 1px border change is responsible for the squeeze effect*/ 
  border:1px solid rgba(182, 152, 115, 1);
  opacity: .65;
}

.button-nap {
  /* display:inline-block; */

  text-decoration:none;
  /* font-family:'Roboto',sans-serif; */
  font-weight:300;
  color:#FFFFFF;
  /* text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35); */
  text-align:center;
  /* justify-content: center; */
  transition: all 0.2s;
}
.button-nap:hover {
  transition: all 150ms linear;
  opacity: .85;
}

.button-nap:active {
  transition: all 150ms linear;
  /* the 1px border change is responsible for the squeeze effect*/ 
  /* border:1px solid #70587c; */
  opacity: .75;
}

.button-food {
  /* display:inline-block; */

  text-decoration:none;
  /* font-family:'Roboto',sans-serif; */
  font-weight:300;
  color:#FFFFFF;
  /* text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35); */
  text-align:center;
  /* justify-content: center; */
  transition: all 0.2s;
}
.button-food:hover {
  transition: all 150ms linear;
  opacity: .85;
}

.button-food:active {
  transition: all 150ms linear;
  /* the 1px border change is responsible for the squeeze effect*/ 
  /* border:1px solid #3a7d44; */
  opacity: .75;
}

.button-water {
  /* display:inline-block; */
  /* border:5px solid rgba(255,255,255,0); */
  /* max-height: 40px; */
  /* border-radius:15px; */
  /* box-sizing: border-box; */
  text-decoration:none;
  /* font-family:'Roboto',sans-serif; */
  font-weight:300;
  color:#FFFFFF;
  /* text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35); */
  text-align:center;
  /* justify-content: center; */
  transition: all 0.2s;
}
.button-water:hover {
  transition: all 150ms linear;
  opacity: .85;
}

.button-water:active {
  transition: all 150ms linear;
  /* the 1px border change is responsible for the squeeze effect*/ 
  /* border:1px solid #62bbc1; */
  opacity: .75;
}

.button-acc {
  /* display:inline-block; */
  /* border:5px solid rgba(255,255,255,0); */
  /* max-height: 40px; */
  /* border-radius:15px; */
  /* box-sizing: border-box; */
  text-decoration:none;
  /* font-family:'Roboto',sans-serif; */
  font-weight:300;
  color:#FFFFFF;
  /* text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35); */
  text-align:center;
  /* justify-content: center; */
  transition: all 0.2s;
}
.button-acc:hover {
  transition: all 150ms linear;
  opacity: .85;
}

.button-acc:active {
  transition: all 150ms linear;
  /* the 1px border change is responsible for the squeeze effect*/ 
  /* border:1px solid #e40066; */
  opacity: .75;
}

.button-poop {
  /* display:inline-block; */
  /* border:5px solid rgba(255,255,255,0); */
  /* max-height: 40px; */
  /* border-radius:15px; */
  /* box-sizing: border-box; */
  text-decoration:none;
  /* font-family:'Roboto',sans-serif; */
  font-weight:300;
  color:#FFFFFF;
  /* text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35); */
  text-align:center;
  /* justify-content: center; */
  transition: all 0.2s;
}
.button-poop:hover {
  transition: all 150ms linear;
  opacity: .85;
}

.button-poop:active {
  transition: all 150ms linear;
  /* the 1px border change is responsible for the squeeze effect*/ 
  /* border:1px solid #2C2217; */
  opacity: .75;
}

.button-pee {
  /* display:inline-block; */
  /* border:5px solid rgba(255,255,255,0); */
  /* max-height: 40px; */
  /* border-radius:15px; */
  /* box-sizing: border-box; */
  text-decoration:none;
  /* font-family:'Roboto',sans-serif; */
  font-weight:300;
  color:#FFFFFF;
  /* text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35); */
  text-align:center;
  /* justify-content: center; */
  transition: all 0.2s;
}
.button-pee:hover {
  transition: all 150ms linear;
  opacity: .85;
}

.button-pee:active {
  transition: all 150ms linear;
  /* the 1px border change is responsible for the squeeze effect*/ 
  /* border:1px solid #B69873; */
  opacity: .75;
}